.filterIcon {
    position: absolute;
    top: -3px;
    right: -3px;
  
    padding: 2px;
  
    font-size: 1.2rem;
    color: #fff;
  
    border-radius: 20%;
}

.filterButton {
    position: relative;
    height: 4rem;
    padding: 0.7rem 1.2rem;
  }