.sidebar {
  position: fixed;
  z-index: var(--z-top-layer);
  top: 0;
  left: 0;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 5.6rem;
  height: 100vh;
  padding-inline: 1.2rem;

  background-color: #333;

  transition: width 0.2s ease-in-out;

  & .navItem {
    display: flex;
    gap: 1rem;
    align-items: center;

    margin: 1.6rem 0;

    font-size: 1.6rem;
    text-decoration: none;
  }

  span {
    margin-left: 1rem;
  }
}

.navGroup {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-start;
}

.navItems {
  & span {
    opacity: 0;
  }

  &:hover span {
    color: #ccc;
  }
}

.sidebar .logout {
  margin-top: auto;
  margin-bottom: 1.6rem;

  &:hover {
    color: var(--color-red);
  }
}

.open {
  width: 19rem;

  & .navItem {
    & span {
      opacity: 1;
    }
  }
}

