.authPage {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;

  background-color: #f9f9f9;
}

.formWrapper {
  width: 100%;
  max-width: 40rem;
  padding: 2rem;

  text-align: center;

  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0.4rem 0.8rem rgb(0 0 0 / 10%);
}

.authContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.inputWrapper {
  position: relative;

  display: flex;
  align-items: center;

  width: 100%;
  height: 4.5rem;
  padding: 0;

  border: 1px solid #ccc;
  border-radius: 0.5rem;

  transition: border-color 0.2s;
}

.inputWrapper:focus-within {
  border-color: #000;
}

.authInput {
  flex: 1;

  padding: 1.25rem;

  font-size: 1.5rem;
  color: #333;

  background: transparent;
  border: none;
  outline: none;
}

.placeholder {
  pointer-events: none;

  position: absolute;
  left: 1rem;
  transform-origin: left center;
  transform: scale(1);

  font-size: 1.5rem;
  color: #999;

  transition: transform 0.2s ease, color 0.2s ease;
}

.placeholderActive {
  transform: translateY(-2.3rem) scale(0.85);
  color: #333;
  background-color: white;
}

.iconWrapper {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 5rem;
  height: 100%;

  color: #333;

  background: none;
  border: none;
}

.iconWrapper:hover {
  background-color: #f0f0f0;
}

.submitButton {
  cursor: pointer;

  width: 100%;
  margin-top: 1.25rem;
  padding: 1.5rem;

  font-size: 1.5rem;
  color: #fff;

  background-color: #333;
  border: none;
  border-radius: 0.5rem;

  transition: background-color 0.2s;
}

.submitButton:hover {
  background-color: #4d4d4d;
}

.roundedRight {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.cancelButton {
  background-color: #ccc;

  &:hover {
    background-color: #bbb;
  }
}