@import 'styles/media';

.pageWrapper {
    z-index: var(--z-content-layer);
    display: flex;

    @include media  ('xs-md') {
      width: 100%;
      padding-top: 8rem;    
    }
  }
   
  .contentWrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1rem;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding: calc(5rem + env(safe-area-inset-top));

    transition: margin-left 0.3s ease;

    @include media  ('xs-md') {
      padding: calc(1rem + env(safe-area-inset-top)); 
    }
  }