.pageWrapper {
    z-index: var(--z-content-layer);
    display: flex;
    width: 100vw;
    height: 100vh;
  }
   
  .contentWrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1rem;
    align-items: center;
    justify-content: center;

    min-width: 100rem;
    padding: 1rem;

    transition: margin-left 0.3s ease;
  }