.paginationWrapper {
  display: flex;
  gap: 0.5rem;
  align-items: stretch;
  justify-content: center;

  padding-top: 1rem;
  padding-bottom: 1rem;
}

.paginationButton {
  width: 4rem;
  height: 4rem;
}
