.pageWrapper {
  overflow: hidden;
  display: flex;
  width: 100vw;
  height: 100vh;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;

  min-width: 120rem;
  padding: 1.2rem;
}

.title {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  text-align: center;
}

.transactionList {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  min-height: 70rem;
  margin: 0;
  padding: 0;
}

.transactionItem {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 60%;
  height: 5.2rem;
  margin-bottom: 1.5rem;
  padding: 0 2.5rem;

  font-size: 1.35rem;
  font-weight: bold;
  color: #000;

  background-color: #f8f9fa;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 0.4rem 1rem rgb(0 0 0 / 5%);

  transition: background-color 0.3s ease;
}

.income {
  background: rgb(189 236 194);
}

.expense {
  background: rgb(236 184 184);
}

.transactionTitle,
.transactionAmount,
.transactionCategory,
.transactionType,
.transactionDate {
  flex: 1;
  text-align: center;
}

.transactionTitle {
  cursor: pointer;

  position: relative;

  overflow: hidden;

  text-overflow: ellipsis;
  white-space: nowrap;
}

.transactionTitle:hover::after {
  content: attr(title);

  position: absolute;
  z-index: var(--z-tooltip-layer);
  top: 100%;
  left: 0;
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  width: 80%;
  margin-bottom: 1.5rem;
}

.editButton {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;

  button {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 2.5rem;
    height: 2.5rem;

    color: #000;

    transition: transform 0.2s ease, opacity 0.2s ease;

    &:hover {
      transform: scale(1.4);
    }
  }
}
