@import 'styles/media';

.editButton {
    color: #000;

    @include media('xs-lg') {
        transform: scale(1.2);
    }
}

.editButton:hover {
    color: #000;

    @include media('lg') {
        transform: scale(1.2);
        transition: 0.2s;
    }
}