@import 'styles/media';

.block {
  display: flex;
  gap: 1rem;
  align-items: stretch;
  justify-content: space-between;

  width: 60%;
  margin: 0 auto;

  @include media  ('xs-lg') {
    flex-direction: column;
    width: 90%;
  }

}

.buttonsBlock {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.greeting,
.middleBlock,
.buttons {
  display: flex;
  flex: 1;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  height: 5rem;
}

.buttons button {
  width: 100%;
  height: 100%;
  border: none;

  @include media  ('xs-lg') {
    height: 4.8rem;
  }
}

.balanceBlock {
  flex-direction: column;
  width: 60%;
}

.balancePart {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  width: 100%;
  height: 5rem;

  background-color: #f8f9fa;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 0.4rem 1rem rgb(0 0 0 / 5%);
}

.balancePart h2,
.balancePart p {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;

  margin: 0;
}

.balancePart h2 {
  font-size: 1.2rem;
  color: #333;
}

.balancePart p {
  height: 100%;

  font-size: 1.4rem;
  font-weight: bold;

  background-color: #eaeaea;
  border-radius: 0.5rem;
  box-shadow: inset 2px 2px 5px rgb(0 0 0 / 10%), inset -2px -2px 5px rgb(255 255 255 / 60%);
}

.balancePart:last-child {
  margin-right: 0;
}

.chartBlock {
  width: 60%;
  height: 40rem;

  border: 1px solid #e0e0e0;
  border-radius: 0.5rem;
  box-shadow: 0 0.4rem 1rem rgb(0 0 0 / 5%);

  @include media  ('xs-lg') {
    flex-direction: column;
    width: 90%;
    min-height: 30rem;
  }
}

.categoriesBlock {
  display: flex;
  gap: 1rem;
  justify-content: space-between;

  width: 100%;
  min-width: 28.5rem;
  max-width: 60%;
  min-height: 25rem;

  @include media  ('xs-lg') {
    flex-direction: column;
    width: 90%;
    max-width: none;
  }
}

.categoryPart {
  flex: 1;
  align-items: center;
  justify-content: center;

  max-width: 50%;
  height: 25rem;

  text-align: center;

  border: 1px solid #e0e0e0;
  border-radius: 0.5rem;
  box-shadow: 0 0.4rem 1rem rgb(0 0 0 / 5%);

  @include media  ('xs-lg') {
    width: 100%;
    max-width: 100%;
  }
}

.categoryPart:last-child {
  margin-right: 0;
}

.block .incomeButton {
  background-color: rgb(34 126 34);

  &:hover {
    background-color: rgb(61 179 61);
  }
}

.block .expenseButton {
  background-color: rgb(150 15 15);

  &:hover{
    background-color: rgb(196 32 32);
  }
}

.middleBlock {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.select {
  cursor: pointer;

  width: 100%;
  height: 100%;
  padding: 0.5rem;

  font-size: 1.5rem;
  color: black;
  text-align: center;

  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 0.5rem;

  @include media  ('xs-lg') {
    height: 4.8rem;
  }
}

.select:focus {
  border-color: black;
}

.chart {
  height: 100%;
  padding-bottom: 2rem;
}

.doubleChart {
  height: 25rem;
}

.maxContainer {
  width: 100%;
  height: 100%;
  line-height: 1.15;
  border-radius: 5px;
}
