.block {
    display: flex;
    gap: 1rem;
    align-items: stretch;
    justify-content: space-between;

    width: 80%;
    margin: 0 auto;
  }
  
  .buttonsBlock {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
  
  .greeting,
  .middleBlock,
  .buttons {
    display: flex;
    flex: 1;
    gap: 1rem;
    align-items: center;
    justify-content: center;

    height: 5rem;
  }
  
  .buttons button {
    width: 100%;
    height: 100%;
  }
  
  .balanceBlock {
    flex-direction: column;
    width: 80%;
  }
  
  .balancePart {
    flex: 1;

    height: 5rem;
    padding: 1rem;

    text-align: center;

    border: 1px solid black;
    border-radius: 0.5rem;
  }
  
  .balancePart:last-child {
    margin-right: 0;
  }
  
  .chartBlock {
    width: 80%;
    height: 40rem;
    padding: 1rem;

    border: 1px solid black;
    border-radius: 0.5rem;
  }
  
  .categoriesBlock {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
  
  .categoryPart {
    flex: 1;

    height: 25rem;
    margin-right: 1rem;
    padding: 1rem;

    text-align: center;

    border: 1px solid black;
    border-radius: 0.5rem;
  }
  
  .categoryPart:last-child {
    margin-right: 0;
  }

  .block .incomeButton {
    background-color: rgb(34 126 34);
  
    &:hover {
      background-color: rgb(61 179 61);
    }
  }

  .block .expenseButton {
    background-color: rgb(150 15 15);

    &:hover{
      background-color: rgb(196 32 32);
    }
  }
