.searchWrapper {
  height: 4rem;
}

.searchContainer {
  overflow: hidden;
  display: flex;
  align-items: center;

  height: 100%;

  border: 1px solid #333;
  border-radius: 8px;
}

.searchInput {
  flex-grow: 1;

  height: 100%;
  padding-left: 1rem;

  font-size: 1.5rem;

  border: none;
  outline: none;
}

.searchButton {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  padding: 0.7rem 1.2rem;
}