.searchWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.searchContainer {
  overflow: hidden;
  display: flex;
  align-items: center;

  border: 1px solid #ccc;
  border-radius: 8px;
}

.searchInput {
  flex-grow: 1;
  padding: 8px 12px;
  border: none;
  outline: none;
}

.searchButton {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 8px 12px;
}
